/* lets code for styling */
html{
    scroll-behavior: smooth;
}
body{
    padding:0px;
    margin:0px;
}

/* Section Navbar */

.navbar{
    background-color: #1413136b;
}

.navbar-toggler{
    outline: none !important;
    background-color: #008891;
    border-color: white !important;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    color: #ffffff !important;
}

@media screen and (max-width: 991px){
    .nav-item{
        padding: 0;
    }
}

/* Section Home Page */

.home-page{
  background-color: #008891;
  margin-top: 56.25px !important;
  margin:0px;
}

.text-div-home-page{
    color:white;
    margin: 20% 0% 25% 20%;
}

.text-div-home-page>button{
    width:150px;
    margin-top:20px;
}
.img-home-page{
    width:100%;
    float:right;
    padding:60px;
    padding-top:20%;
}

@media (max-width:767px) and (min-width:300px)
{
    .home-page{
        /* background-image: url("https://images.unsplash.com/photo-1493946947703-a0e68b050bee?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzJ8fHdlYnNpdGV8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"); */
        padding:150px 0px;
        
    }

    
    .text-div-home-page{
        text-align: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    .img-home-page{
        display: none;
    }

}


/* section Profiles */
#profile{
    height: 50px;
}
.profile-heading{
    text-align: center;
    color: #493323;
    font-size: 60px;
    margin:40px 0px;
}

.row{
    margin: 0;
}
.profile-card{
    text-align: -webkit-center;
    margin-bottom: 100px;
}
.card{
    width: 18rem;
}

.card-img-top{
    height: 200px;
}

@media screen and (max-width: 768px){
    .manish-profile{
        margin-bottom: 40px;
    }
}



/* skill section */
.skill-section{
background-color: #008891;
text-align: center;
padding:50px 0px;
}

.skill-section>h1{
    color:white;
    margin-bottom: 50px;
}

.skill-div{
    /* background-color:; */
    text-align: center;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.246);
    border-radius: 5px;
    width:250px;
    padding:5px 10px;
    margin:5px;
    transition:0.5s;
}

.skill-div:hover{
   border: 1px solid white;
}

#jquery-img{    
    width:250px;
    height:133px;
    margin-top:-64px;  /*image is diverted so we did this line code*/
    padding:10px;
}

@media (max-width:543px)
{
    #jquery-img{
        margin-top:10px;
    }
}




/* Section About US */

.about-us{
    margin-top: 40px;
}
.about-us-heading{
    text-align: end;
}
.about-us-heading span{
    padding-right: 15px;
    font-size: 35px;
    font-weight: 600;
}
.about-us-heading hr{
    border: none;
    border-top: 2px solid;
    width: 70%;
    float: right;
    margin-top: 30px;
    margin-right: 5%;
}

.about-us img{
    width: 100%;
}

@media screen and (max-width: 768px){
    .about-us-heading span{
        display: block;
        text-align: center;
    }
    .about-us .row{
        display: inline-flex;
    }
  .about-us-heading hr{
        margin-right: 17%;
    }
}



/* project section */

    .project-section{
    text-align: center;
    padding:50px 0px;
    }

    .project-div{
        display: inline-block;
        text-align: center;
        border:1px solid gainsboro;
        border-radius: 2px;
        margin:30px;
        padding:20px;
        width:200px;
        transition: 0.5s;
    }

    .project-div> p{
   color: rgb(44, 41, 41);
    }

    .project-div>h6{
        color: hotpink;
    }

    .project-div:hover{
        /* transition: 1s; */
        border-radius: 5px;
        box-shadow: 0px 0px 15px #b3b1b1b0;
    }

    @media screen and (max-width: 550px)
    {
      .project-div{
        width:250px;
      }
    }
